body {
	background: #c62168;
}


/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {

	body {
    background: #ffd662;
  }

}

/* ----------- Monitors larger than 1200px wide ----------- */

@media (min-width: 1200px) {

  body{
    background: #ff6f61;
  }

}
